<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цена кухни</title>
    <link rel="stylesheet" type="text/css" href="/css/priceStyle.css" media="all"/>
</head>
<body class="bg-fon">
<p><table>
    <tr>
        <td>Цена кухни без скидки</td>
        <td><a th:text="${kitchenPrice}"/> руб.</td>
    </tr>
    <tr>
        <td>Скидка</td>
        <td> <a th:text="${discount}"/> руб.</td>
    </tr>
    <tr>
        <td>Цена со скидкой </td>
        <td> <a th:text="${sumWithDiscount}"/> руб.</td>
    </tr>
    <tr>
        <td>Сборка</td>
        <td> <a th:text="${sborka}"/> руб.</td>
    </tr>
    <tr>
        <td>Стоимость столешницы</td>
        <td><a th:text="${stoleshnicaPrice}"/> руб.</td>
    </tr>
    <tr>
        <td>Стоимость фурнитуры</td>
        <td><a th:text="${furnituraPrice}"/> руб.</td>
    </tr>
    <tr>
        <td>Стоимость ящиков</td>
        <td><a th:text="${yashikiPrice}"/> руб.</td>
    </tr>
</table>


<div class="meeting">
    <a th:text="${kitchen}"/>
    <form action="/meeting" method="post" th:object="${kitchen}">
    <input type="text" name="name" placeholder="Имя"><br>
        <input type="tel" name="phone" placeholder="Введите телефон в формате 89991234567"pattern="8[0-9]{10}"><br>
<!--        <input type="hidden" name="kitchenPrice" value=<a th:value="${kitchen.getSum()}"/>-->
<!--        <input type="hidden" name="discount" value=<a th:value="${discount}"/>-->
<!--        <input type="hidden" name="sumWithDiscount" value=<a th:value="${sumWithDiscount}"/>-->
<!--        <input type="hidden" name="sborka" value=<a th:value="${sborka}"/>-->
<!--        <input type="hidden" name="stoleshnica" value=<a th:value="${kitchen.getStoleshnica()}"/>-->
<!--        <input type="hidden" name="size" value=<a th:value="${kitchen.getSize()}"/>-->
<!--        <input type="hidden" name="furnitura" value=<a th:value="${kitchen.getFurnitura()}"/>-->
<!--        <input type="hidden" name="yashiki" value=<a th:value="${kitchen.getYashiki()}"/>-->
        <input type="hidden" name="kitchen" value=<a th:object="${kitchen}"/>

    <input class="meeting_button" type="submit" value="Записаться на встречу в салон">
    </form>
</div>
</body>
</html>